test.py
calculate/main.py
variables/main.py
variables/__pycache__/main.cpython-310.pyc
print/__pycache__/main.cpython-310.pyc
hello-world/__pycache__/main.cpython-310.pyc
hello-world/main.py
print/main.py
comments/__pycache__/main.cpython-310.pyc
comments/main.py
calculate/__pycache__/main.cpython-310.pyc
operators/main.py
operators/__pycache__/main.cpython-310.pyc
arguments/__pycache__/main.cpython-310.pyc
casting/main.py
casting/__pycache__/main.cpython-310.pyc
conditions/main.py
conditions/__pycache__/main.cpython-310.pyc
dictionariesv2/countries.json
dictionariesv2/helpers.py
dictionariesv2/main.py
dictionariesv2/__pycache__/helpers.cpython-310.pyc
dictionariesv2/__pycache__/main.cpython-310.pyc
for/countries.json
for/helpers.py
for/main.py
for/__pycache__/helpers.cpython-310.pyc
for/__pycache__/main.cpython-310.pyc
functions/main.py
functions/__pycache__/main.cpython-310.pyc
lists/main.py
lists/__pycache__/main.cpython-310.pyc
statements/main.py
statements/__pycache__/main.cpython-310.pyc
while/facts.json
while/helpers.py
while/main.py
while/__pycache__/helpers.cpython-310.pyc
while/__pycache__/main.cpython-310.pyc
*.txt
cache
arguments/main.py
arguments/main.py
modules/greet.py
modules/main.py
modules/__pycache__/greet.cpython-310.pyc
modules/__pycache__/main.cpython-310.pyc
