test.py
calculate/main.py
variables/main.py
variables/__pycache__/main.cpython-310.pyc
print/__pycache__/main.cpython-310.pyc
hello-world/__pycache__/main.cpython-310.pyc
hello-world/main.py
print/main.py
comments/__pycache__/main.cpython-310.pyc
comments/main.py
calculate/__pycache__/main.cpython-310.pyc
operators/main.py
operators/__pycache__/main.cpython-310.pyc
